{% extends 'base.html' %}
{% block content %}
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center mb-5 mt-5 text-success">Bienvenue chez BuzZakaz</h3>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/client/" class="btn btn-success">Detail</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Courier</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/courier/" class="btn btn-success">Detail</a>
                    </div>
                  </div>
            </div>

        </div>
       
       
      </div>
{% endblock %}