{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card border border-3 rounded">
                    <div class="card-body">
                        <h4 class="text-center text-uppercase mb-3">
                            <b>Inscription </b>
                        </h4>

                        <form action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                            <div class="d-grid gap-2">
                                <button class="btn btn-success" type="submit">S'inscrire</button>
                            </div>
                            <p class="mt-4 text-center">
                                Deja inscrit ? <a href="/connexion/?next={{ request.GET.next }}"><b>Se connecter</b></a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>


{% endblock %}